html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  color: white;
}

body {
  scroll-behavior: unset;
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 98vh;
  /* width: 128vh; */
  text-align: center;
  display: block;
}

#top-menu-pane {
  border-style: solid;
  border-radius: 10px;
  height: 8%;
  width: 98%;
  margin: 1%;
  margin-bottom: 0.5%;
}

#main-pane {
  /* border-style: solid; */
  display: inline-flex;
  height: 88%;
  width: 100%;
  justify-content: space-around;
}

#code-editor-pane {
  /* border-style: solid;
  border-radius: 10px; */
  display: block;
  height: 96%;
  width: 28%;
  margin: 1%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#pipeline-editor-pane {
  border-style: solid;
  border-radius: 5px;
  background-color: darkgray;
  height: 89%;
  margin-top: 4%;
  width: 92%;
  margin-left: 3.5%;
}

#table-editor-pane {
  border-style: solid;
  border-radius: 10px;
  display: block;
  height: 96%;
  width: 68%;
  margin: 1%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  padding-top: 2%;
}

div.pipeline-name {
  margin: 3%;
}

label.pipeline-name {
  color: black;
  margin: 2%;
  font-weight: 600;
  vertical-align: middle;
}
