html {
  background-color: rgba(27, 38, 54, 1);
}

body {
  scroll-behavior: unset;
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 98vh;
  display: block;
}

#top-menu-pane {
  height: max(8%, 40px);
  width: 100%;
}

#main-pane {
  display: inline-flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

#left-pane {
  display: inline-flex;
  height: 100%;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

#code-editor-pane {
  display: block;
  height: 72%;
}

#log-error-pane {
  display: block;
  height: max(16%, 200px);
}

#pipeline-editor-pane {
  border-style: solid;
  border-radius: 5px;
  background-color: darkgray;
  height: 89%;
  margin-top: 4%;
  width: 92%;
  margin-left: 3.5%;
}

#table-editor-pane {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
