.drop-down-input {
  width: 80%;
  padding: 12px 20px;
  border-radius: 13px 13px 0px 0px;
  border: transparent;
  background-color: orange;
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

.drop-down-input:focus-visible {
  border: transparent;
  outline: none;
}

.drop-down-options-list {
  padding: 12px 20px;
  background-color: orange;
  border-radius: 0px 0px 13px 13px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  position: absolute;
  z-index: 1000;
}

.drop-down-option {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  text-align: justify;
}
