div.main-button {
  margin: 2%;
  border-style: solid;
  border-radius: 4px;
  width: 80%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: darkgray;
  color: black;
  text-align: center;
  font-weight: 600;
  display: inline-block;
}

div.main-button:hover {
  background-color: orange;
}

label.main-button-label {
  vertical-align: middle;
}
